<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-5 mx-auto mt-3">
    <div class="card_register">
      <div class="card">
        <div class="card-body text-center">
          <form [formGroup]="formModel" autocomplete="off" (submit)="CreateOperation()">
            <h4 class="mb-3 font-weight-normal" style="margin: 0">Crear una operacion</h4>
            <img src="assets/images/img-dolar.jpg" alt="imagen dolar" class="card-img-top">
            <div class="form-row">
              <div class="form-group required">
                <select class=" custom-select" style="display:block;" formControlName="SelectConcepto" (change)="EnableSelectAccounts()" >
                  <option disabled>Elige un concepto</option>
                  <option value="Entrada">Entrada</option>
                  <option value="Salida">Salida</option>
                </select>
                <label class="text-danger" *ngIf="formModel.get('SelectConcepto').touched && formModel.get('SelectConcepto').value=='Elige un concepto'">Debe elegir un concepto</label>
              </div>
              <div class="form-group required separated">
                <select disabled id="selectAcc" class="custom-select" style="display:block;"  formControlName="SelectAccounts">
                  <option disabled>Elige una cuenta</option>
                </select>
                <label class="text-danger" *ngIf="formModel.get('SelectAccounts').touched && formModel.get('SelectAccounts').value=='Elige una cuenta'">Debe elegir una cuenta</label>
              </div>
              <input type="date">
            </div>
              <div class="form-group">
              <button type="submit" class="btn btn-lg btn-block" [disabled]="!formModel.valid || typeUserSelected=='0'">
                <i class="material-icons left">save</i>Guardar
              </button>
              </div>
              <div class="form-group" >
                <button routerLink="/user/users" class="btn black btn-block btn-lg"><i class="material-icons left">view_list</i>usuarios</button>              </div>  
             
          </form>
        </div>
      </div>
    </div>
  </div>
</div>