
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto mt-3">
          <div class="card_login">
              <div class="card text-center text-primary">
                  <div class="card-header">
                      <h4>Recuperar contraseña</h4>
                  </div>
                  <div>
                  <img src="assets/images/contrasenya.jpg" alt="imagen login" class="card-img-top">
                  </div>
                  <div class="card-body">
                      <form [formGroup]="formLogin" autocomplete="off" (submit)="SendEmail()">
                          <div class="form-group required">
                                  <input type="text" placeholder="Email" formControlName="Mail" required>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-lg bg-primary btn-block" [disabled]="!formLogin.valid">
                                Enviar
                              </button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>